# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile.in
aclocal.m4
install-sh
.deps
config.guess
.libs
libtool
ltmain.sh

